body {
    color: #901C1C;
}

header nav a {
    color: #901C1C;
    border: 1px solid #901C1C;
    border-radius: 20px;
    padding: 2px 10px;

    &:hover,
    &.active {
        background: #901C1C;
        color: white;
    }
}

h2 {
    color: #D3573C;
}

.location {
    color: #901C1C;
}

.tagline {
    color: black;
}

.price {
    color: #757575
}

.tags li {
    border: 1px solid #901C1C;
    border-radius: 20px;
    padding: 2px 10px;
}