.container {
    .logo {
        a img {
            width: 200px;
        }
    }

    #media {
        margin: 2rem 5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 5rem;
    }

    #media img,
    #media video {
        width: 320px;
        height: 300px;
        margin: 0.5rem;
        object-fit: cover;
        //object-position: center 0%;
    }

    .pictVideos a .mediaDetails {
        display: none;
    }

    .pictVideos .mediaDetails {
        max-width: 320px;
        display: flex;
        margin: 0 5px 5px 8px;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        color: #901c1c;
        .heartLikes{
            cursor: pointer;
        }
        h2 {
            width: 222px;
            font-size: 1rem;
            color: #901c1c;
            font-weight: 300;
        }
    }

    .mediaPrice,
    .mediaLikes {
        font-weight: bold;
    }
    .mediaLikes{
        margin-left: 15px;
    }
    .profil .identity{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .location{
            font-size: 1.5rem;
        }
        h2{
            font-size: 4rem;
            font-weight: 400;
        }
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            row-gap: 20px;
            font-size: 1.12rem;
            list-style-type: none;
            line-height: 23px;
            margin-left: 5px;
        }
    }
    .contactButton {
        padding: 15px;
        background: #901c1c;
        color: white;
        font-size: 1.25rem;
        font-weight: 700;
        border: none;
        border-radius: 5px;

        &:hover {
            transform: scale(1.1);
            background: #DB8876;
        }
    }
}

video,
source {
    width: 100%;
}

.index {
    visibility: hidden;
}