/*#lightBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}*/
#myLightModal {
    flex-direction: column;
    justify-content: center;
}

/* The Modal (background) */
.lightModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);

    .videoRimg {
        max-width: 90%;
        margin: auto;
    }

    .mediaDetails {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;
        background: #D3573C;
        color: white;

        h2 {
            color: white;
        }
    }

    .videoRimg img {
        max-width: 100%;
    }

    /* Black w/ opacity */
    .arrow {
        width: 100%;
        //margin-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 0;

        //z-index: 900;
        .leftArrow,
        .rightArrow {
            width: 50px;
            font-size: 6rem;
            color: grey;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                color: black;
            }
        }
    }
}

/* Modal Content/Box */
.light-modal-content {
    position: relative;
    max-width: 95%;
    color: black;
    background-color: #D3573C;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;

    img {
        width: 100%;
        object-fit: cover;
    }

    h2 {
        color: black;
        font-size: 1rem;
    }
}

/* The closeLightBox Button */
.closeLightBox {
    position: absolute;
    top: 5%;
    right: 5%;
    color: grey;
    font-size: 28px;
    font-weight: bold;
}

.closeLightBox:hover,
.closeLightBox:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*.videoRimg{
    display: block;
}*/