/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    max-height: 900px;
    max-width: 669px;
    border-radius: 5px;
    color: black;
    background-color:#DB8876;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
}

/* The Close Button */
.close {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.classContactForm {
    display: flex;
    flex-direction: column;
}

form {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: 20px;
        font-size: 3rem;
        font-weight: 400;
    }

    .formSubmit {
        background: #901C1C;
        color: white;
        width: 170px;
        height: 68px;
        margin-top: 20px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 2rem;

        &:hover {
            background: lighten(#901C1C, 10%);
            transform: scale(1.1);
        }
    }

    .inputBloc {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 2.25rem;
        margin: auto;
        input[type="text"], input[type="email"]{
            height: 68px;
            max-width: 100%;
            border-radius: 5px;
            border: none;
            font-size: 2.25rem;
        }
        textarea{
            font-size: 2rem;
            border-radius: 5px;
        }
        .error-firstName,
        .error-lastName,
        .error-blocName,
        .error-blocFirstName,
        .error-blocMail,
        .error-blocMessage {
            margin-left: 30px;
            color: red;
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
    .blocName, .blocFirstName, .blocMessage, .blocMail{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}    
