.totalLikes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    position: fixed;
    bottom: 0;
    right: 2%;
    background: #db8876;
    border-radius: 5px;
    .likes{
        padding: 10px 5px;
    }
    .salary{
        padding: 10px 5px;
    }
}