.totalLikes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 376px;
    height: 55px;
    position: fixed;
    bottom: 0;
    right: 2%;
    background: #db8876;
    border-radius: 5px;
    font-size:24px;
    font-weight: 500;
    color: black;
    .likes{
        flex-direction: row;
        justify-content: space-around;
        padding: 11px 5px 17px 21px;
    }
    .salary{
        width: 133px;
        padding: 11px 24px 17px 5px;
        text-align: right;
    }
    .icon{
        width: 70px;
    }
}