.tri {
    position: relative;
    width: 80%;
    margin: auto;
    font-size: 2rem;
    display: block;
    margin-top: 2rem;

    label {
        margin-top: 15px;
        font-size: 18px;
        color: black;
    }

    #tri-select {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: #901c1c;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        left: 7rem;
        position: absolute;
        top: 0;
        width: 10rem;
        list-style-type: none;
        .date, .titre, hr{
            display: none;
        }
        hr {
            width: 150px;
            height: 1px;
            color: white;
        }

        i.triArrow{
            position: absolute;
            top: 20px;
            right: 15px;
        }
        i.clicked {
            visibility: hidden;
            position: absolute;
            top: 20px;
            right: 15px;
        }

        li {
            height: 23px;
            width: 90px;
            left: 20px;
            top: 23px;
            font-size: 18px;
            font-weight: 70;
            padding: 23px 60px 23px 20px;
            border-radius: nullpx;
            cursor: pointer;
            display: block;
            &:hover {
                height: 23px;
                width: 76px;
                border-radius: 5px;
                background: lighten(#901c1c, 10%);
            }
        }
    }
}

select option:hover {
    background: ligthen(#901c1c, 10%);
    -webkit-background: ligthen(#901c1c, 10%);
}