.tri {
    position: relative;
    width: 80%;
    margin: auto;
    font-size: 2rem;
    display: block;
    margin-top: 2rem;
    label {
        margin-top: 15px;
        font-size: 18px;
        color: black;
    }

    #tri-select {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        flex-direction: -webkit-column;
        justify-content: flex-start;
        background: #901c1c;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
        left: 7rem;
        position: absolute;
        top: 0;
        width: 10rem;
        list-style-type: none;
        text-align: left;
        z-index: 2000;
        .date, .titre{
            display: none;
        }

        i.triArrow{
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            z-index: 3000;
        }
        i.clicked {
            display: none;
            //visibility: hidden;
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            z-index: 3000;
        }

        .popularite, .date, .titre{
            height: 23px;
            width: 80px;
            left: 0;
            top: 0;
            font-size: 18px;
            font-weight: 700;
            padding: 13px 50px 13px 10px;
            cursor: pointer;
            display: block;
            margin-left: 10px;
            z-index: 1000;
            &:hover {
                height: 23px;
                width: 80px;
                border-radius: 5px;
                background: lighten(#901c1c, 10%);
            }
        }
        li:first-chiild{
            order:1;
        }
        li:nth-child(2){
           order:2;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
        }
        li:nth-child(3){
            order:3;
        }
        .selected{
            position: absolute;
            height: 23px;
            width: 49px;
            top: 0;
            left: 0;
            background: #901c1c;
            overflow: hidden;
            z-index: 2000;
            border-radius: 5px;
            padding: 13px 50px 13px 10px;
        }
    }
}

select option:hover {
    background: ligthen(#901c1c, 10%);
    -webkit-background: ligthen(#901c1c, 10%);
}